html,
body {
	width: 100%;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

h4 {
	margin: 20px 0 10px;
	font-family: PingFangSC-Medium;
}

.demo-list {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	h4 {
		font-size: 15px;
		padding: 0 16px;
		box-sizing: border-box;
	}
	p {
		padding: 0 16px;
		margin: 5px 0px;
	}
}
.demo-list-pd {
	padding-left: 16px;
	padding-right: 16px;
	overflow: hidden;
	h4 {
		padding: 0;
		box-sizing: border-box;
	}
}

p {
	font-size: 12px;
	margin: 5px 10px;
	color: #666;
}
